__pycache__/**
test/__pycache__/**
test/AsyncArtwork/__pycache__/**
test/NFTAuction/__pycache__/**
test/Blueprints/__pycache__/**
test/System/__pycache__/**
*.fixed.cdc
emulator.log
built.rlp
signed.rlp
cadence/.DS_Store
.DS_Store
node_modules
